
			.navbar .brand {
				
			    color: #f5cd4f;
			    margin-left: 0px;
			    padding: 15px 0px 3px;
			    text-shadow: none;
			    font-family: 'zoodhardsell2regular';
			    font-size: 35px;

			}

			.navbar .nav {
			    display: block;
			    float: right;
			    left: 0;
			    margin: 0 10px 0 0;
			    position: relative;
			}

			.navbar .nav > li > a {
			    color: #999999;
			    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			}

		


#rectangular{
	/*background-color:  #82B8D9;*/
	 background-color:  #2F2E2E;


	width: 600px;
	margin-left : auto;
	margin-right: auto; 
	min-height:  500px;

	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-radius:3px;
	/*border: 1px solid white;*/
	/*box-shadow: 5px 2px 3px rgb(153, 153, 153);*/
	

	box-shadow: 10px 10px 5px #555555;


}

.inputt{
	float: right;
	margin-right: 110px;
	margin-top: 30px;
	height: 32px;
	width: 230px;
}

	
	.row p{
	display: inline;
	line-height: 70px;
	margin-left: 100px;
	color: #f5cd4f;
	/*color: #FFB84D;*/
	/*font-family: 'supermarketregular';*/
	/*font-family: 'Helvetica Neue';*/
	font-family: 'thai_sans_literegular';
	font-weight: 400;
	font-size: 36px;
	opacity: 0.9;
	/*text-shadow: 0px 1px 0px rgb(34, 45, 123);*/
}


	#regis{
		display: inline;
		line-height: 180px;
		font-size: 50px;
		font-style: bold;
		font-family: 'thai_sans_literegular';
		margin-top: 30px;
		margin-bottom: 0px;
		font-color: #BF1534; 
		margin-left: 300px;
		 /*text-shadow: 0px 1px 0px rgb(34, 45, 123);*/

	}

.row button{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 240px;
	width: 70px;
}

